.App-header {
    background-color: #DE411B;
    height: 133px;
    padding: 20px;
    color: white;
  }
  

  .header__logo-size {
    width: 150px;
    height: 50px;
  }

  .header__logo-size:hover {
    cursor: pointer;
  }

  .ui.menu {
    background-color: #DE411B;
    border: none;
    box-shadow: none;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    justify-content: center;
  }

  .ui.menu>.item {
    background-color:#F0F3F3;
    font-weight: bold;
  }

  .ui.menu>.item:hover {
    background-color:#379BD7;
    cursor: pointer;
  }

  .ui.menu>.item:hover > * {
    color: white;
  }
